
{% load static %}
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->

<link rel="stylesheet" href="{% static 'todo.css' %}">
</head>
<body>
    <h1 style="color: white;">&nbsp;&nbsp;&nbsp;TO DO LIST</h1>
    <div id='container'>
           
        <ol>
            {% for todo_item in all_items %}
                <li>{{ todo_item.content }}
                <form action="/deleteTodo/{{todo_item.id}}/"
                        style="display: inline;"
                        method="post">{% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                </form>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div id='cart'>
            
        <form action="/addTodo/" method="post">{% csrf_token %}
            <input type="text" name="content" required/>
            <input type="submit" class="btn btn-primary btn-sm" value="Add"/>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>